/**
 * border radius
 */
/* ---------------------------------------------------
 CONTENT STYLE
----------------------------------------------------- */
#navbar-content {
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  transition: all 0.3s;
  box-shadow: 6px 7px 2px 1px rgba(0, 0, 0, 0.1);

}

#navbar-btn {
  background: #F80;
  color: #fff;
}

/* end of CONTENT STYLE */
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

/* cart badge */

.cart-badge,
.cart-badge:hover {
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  font-style: italic;
  background: #000;
}

.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;


}

.shopping-icon {
  width: 24px;
  height: 24px;


}

#home-hd {
  color: #F80;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

#card-h3 {
  color: gray;
  font-family: 'Courier', sans-serif;
  font-weight: 600;
}

#fav {
  width: 4rem;
  height: 4rem;
}

#m {
  width: 60%;
  margin-top: 20px;
  margin: auto;
  color: rgb(171, 205, 214);
}

/**
  * single product page - product name
  */

.name {
  background: indigo;
  color: #fff;
  font-weight: bold;
}

/* black shade form 10-1 */
.black-10 {
  background: #b4b2b2;
}

.black-9 {
  background: #918e8e;
}

.black-8 {
  background: #999696;
}

.black-7 {
  background: #837e7e;
}

.black-6 {
  background: #615d5d;
}

.black-5 {
  background: #b3b3b3;
}

/**
  * product image on card
  */

.product-img {
  min-height: 100px;
}

.jumbotron h2 {
  margin-top: -20px;
}


#nav1 {
  float: right;
}

#m {
  margin-bottom: 11rem;
}

#h {
  width: 38%;

}

#bt {
  border-radius: 10px;
  box-shadow: 6px 10px 5px rgba(0, 0, 0, 0.1);
}


#w {

  height: 250px;
}

#btn-s:hover {
  background-color: #F80;
  color: #fff;
}

#btn-s {
  background-color: #FFF;
  color: #f80;
  border: 1px solid #F80;
  border-radius: 12px;
}

.shop-link {
  color: #F80;
}

.shop-link:hover {
  text-decoration: none;
  color: rgb(255, 166, 0);
}

/**
  * jumbotron animation
  */

.jumbotron {
  height: 180px;
  color: #fff;
  background: linear-gradient(-45deg, #c45331, #e73c7e, #235bd5, #23d591);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#form-s {
  width: 80%;
  margin: 60px auto;
  background: #efefef;
  padding: 50px 50px 70px 50px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 9px 7px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1.5%;

}

.label {
  display: block;
  position: relative;
  margin: 30px 0px;
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120, 120, 120);
  transition: ease .3s;
}

.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #F80;
  transition: ease .6s;
}

.input:focus+.line-box .line {
  width: 100%;
}

.label-active {
  top: -3em;
}

.title {
  color: rgb(120, 120, 120);
}

.button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220, 220, 220);
  font-weight: bold;
  color: rgb(120, 120, 120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

.button:hover {
  background: #F80;
  color: #ffffff;
}

#in {

  height: 10rem;
}



@media only screen and (max-width: 1200px) {
  #p-all {
    opacity: 0;
  }

  .nav-item a {
    text-align: center;
    margin: auto;
    padding: 1rem;
  }

  .nav-tabs {
    padding: 6px;
  }
}


@media only screen and (max-width: 960px) {
  #p-all {
    opacity: 0;
  }

  .nav-item a {
    text-align: center;
    margin: auto;
    padding: 1rem;
  }

  .nav-tabs {
    padding: 6px;
  }

  #in {
    max-width: 100%;
  }
}

@media only screen and (max-width: 500px) {

  #p-all {
    opacity: 0;
  }

  #f {
    max-width: 100%;
    font-size: 19px;
  }

  #h {
    text-align: none;
    width: 100%;
    height: 15rem
  }

  #home-tab,
  #login-tab {
    padding: 0 5px;
  }

  #form-s {
    width: 100%;

  }

  .label {
    width: 100%;
    margin: 20px auto;
  }

  #s-form,
  .s-btn {

    padding: 1px 6px;
    font-size: 12px;
  }

  #s-inputs {

    padding: 1px;
    font-size: 12px;
  }

  #s-input {

    padding: 1px 2px;
    font-size: 12px;
  }
}